<div *ngIf="!movie.Commingsoon" class="card bg-dark text-white hasinfo">
    <img src={{movie.Poster}} class="card-img">  
    <a [routerLink]="['/movie', movie.id, movie.Title]">
        <div class="card-img-overlay">
            <div class="data-movies-container">
                <h5 class="card-title">{{movie.Title}}</h5>
                <p class="card-text">{{movie.Year}}</p>
                <p class="card-text">{{movie.Genre}}</p>
            </div>
            <h3 *ngIf="movie.Noavailable" class="alert alert-danger">Agotado</h3>
        </div>
    </a> 
    <app-buttons-function [movie]="movie" [buttonsContainer]="'buttons-container-absolute'"></app-buttons-function>
</div>

<div *ngIf="movie.Commingsoon" class="card bg-dark text-white">
    <img src={{movie.Poster}} class="card-img">
    <div class="card-img-overlay">
        <div class="data-movies-container">
            <h5 class="card-title">{{movie.Title}}</h5>
            <p class="card-text">{{movie.Year}}</p>
            <p class="card-text">{{movie.Genre}}</p>
        </div>
        <h3 class="alert alert-primary">Proximamente</h3>
    </div>
</div>