<div class="sign-in-container">
    <div class="sign-in-form">
        <form [formGroup]="formSignIn" (submit)="onSaveForm()">
            <div class="mb-3">
                <label class="form-label">Dirección de correo electrónico</label>
                <input 
                    type="email" 
                    class="form-control"
                    formControlName="email"
                    [class.is-valid]="isValidField('email')"
                    [class.is-invalid]="isInvalidField('email')"
                >
                <div class="invalid-feedback" *ngIf="isInvalidField('email')">
                    {{getErrorMessage('email')}}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input 
                    type="password" 
                    class="form-control"
                    formControlName="password"
                    [class.is-valid]="isValidField('password')"
                    [class.is-invalid]="isInvalidField('password')"
                >
                <div class="invalid-feedback" *ngIf="isInvalidField('password')">
                    {{getErrorMessage('password')}}
                </div>
            </div>
            <div class="mb-3 form-check">
                <input 
                    type="checkbox" 
                    class="form-check-input"
                >
                <label class="form-check-label">Recuérdame.</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formSignIn.invalid">Iniciar Sesión</button>
        </form>
        <div class="signup-button-container">
            <p>¿Eres nuevo en HomeMovie?</p>
            <button routerLink="/signup" class="btn btn-secondary">Crea tu cuenta de HomeMovie</button>
        </div>
    </div>
</div>