.initial-content {
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
}

.text-welcome {
    margin-right: 50px;
}

p {
    margin-bottom: 8px;
}

.comming-soon {
    color: #fff;
    margin-left: 30px;
}

.list-card-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    padding-top: 0;
}

.card {
    margin-bottom: 20px;
}

.card-img {
    opacity: 30%;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}