.buttons-container-absolute {
    display: flex;
    justify-content: space-around;
    width: 320px;
    position: absolute;
    bottom: 16px;
}

.buttons-container-relative {
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 120px;
}